<!DOCTYPE html>
<html>
<body>

<h2>Missing Person Registration</h2>

<form method="POST" enctype="multipart/form-data">
  <label for="id">ID*:</label>
  <br>
  <input type="text" id="id" name="id">
  <br>
  <label for="fname">First name*:</label>
  <br>
  <input type="text" id="fname" name="first_name">
  <br>
  <label for="lname">Last name*:</label>
  <br>
  <input type="text" id="lname" name="last_name">
  <br>
    <label for="lname">Last seen*:</label>
  <br>
  <input type="text" id="lseen" name="last_seen">
  <br>
  <label for="myfile">Select a file*:</label>
  <br>
  <input type="file" id="myfile" name="myfile" accept="image/*">
  <br>
  <br>
  <input type="submit">

</form>

</body>
</html>